body
{
    margin: 20px;
}

.top
{
    text-align: center;
    margin: 30px;
}

.main
{
    text-align: center;
}

.bottom
{
    text-align: center;
}
/* 
#title-name 
{
    text-align: center;
    margin: 30px;
}

table
{
    text-align: center;    
}

table td
{
    margin: 20px;
} */