<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Shift</title>
    </head>
    <body>
        <div class="top">
            <h1><a href="/">SHIFT</a></h1>
            <nav>
                <ul>
                {{#if isLogined}}
                    <li><a href="/setting/shift">근무설정</a></li>
                    <li><a href="/auth/logout">로그아웃</a></li>
                {{/if}}
                </ul>
            </nav>
        </div>
        {{#if isLogined}}
            <div class="main">
                <div id="upload">
                    <input type="file" id="upload_file" multiple accept=".xlsx">
                </div>

                <div id="thisWeek"></div>

                <div class="table-shift"></div>
            </div>
            {{else}}
            <div id="_login">
                <li><a href="/login">로그인</a></li>
                <li><a href="/signup">회원가입</a></li>
            </div>
        {{/if}}
        <div class="bottom">
            {{!-- Ja_Hwang. all rights reserved --}}
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
        <script src="/getData.js"></script>
    </body>
</html>