<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Shift</title>
    </head>
    <body>
        <div class="top">
            <h1><a href="/">SHIFT</a></h1>
            <nav>
                <ul>
                    <li><a href="/signup">회원가입</a></li>
                </ul>
            </nav>
        </div>
        <div class="main">
            <div class="login">
                <form action="/auth/login" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-control" id="user_id" name="user_id" placeholder="아이디">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="user_password" name="user_password" placeholder="비밀번호">
                    </div>
                    <button type="submit" class="btn_Login">로그인</button>
                </form>
            </div>

            {{#if message}}
                <h4 class="alert alert-danger mt-4">{{message}}</h4>
            {{/if}}
        </div>
        <div class="bottom">
            Ja_Hwang. all rights reserved
        </div>
    </body>
</html>