<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style.css">
        <title>Shift</title>
    </head>
    <body>
        <div class="top">
            <h1><a href="/">SHIFT</a></h1>
        </div>
        <div class="main">
        <div id="shift_setting">
                <div id="_guide"></div>
                <form action="/auth/setting" method="POST" id="_settingForm">
                </form>
                <div id="page_count"></div>
                <button id="next_info">다음</button>
            </div>
            <div id="check_shift"></div>
        </div>
        <div class="bottom">
            {{!-- Ja_Hwang. all rights reserved --}}
        </div>
        <script src="/setting.js"></script>
    </body>
</html>