body
{
    padding: 20px;
}

div
{
    text-align: center;
}

div.top
{
    margin: 30px;
}

div.top a
{
    text-decoration: none;
    color: black;
}

div.top h1
{
    font-weight: lighter;
}

div.top nav ul
{

}

div.top nav li
{
    list-style: none;
    display: inline-block;
    font-size: 15px;
}

div.main
{
    margin: 30px;
}

div.bottom
{
    margin: 30px;
    font-size: 12px;
    font-weight: lighter;
}

/* button */
button#setShift
{
    background-color: #cccccc;
    border-style: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* table */
table, th, td
{
    border: 1px solid #bcbcbc;
}

.table-shift__table
{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

thead, th
{
    padding: 10px;
    font-size: 20px;
}

tbody, td
{
    width: 100px;
    padding: 10px;
    text-align: center;
}