body
{
    padding: 20px;
}

div
{
    text-align: center;
}

div.top
{
    margin: 30px;
}

div.top a
{
    text-decoration: none;
    color: black;
}

div.top h1
{
    font-weight: lighter;
}

div.top nav li
{
    list-style: none;
    display: inline-block;
    font-size: 15px;
}

div.main
{
    margin: 30px;
}

div.bottom
{
    margin: 30px;
    font-size: 12px;
    font-weight: lighter;
}

/* button */
button#setShift
{
    background-color: #cccccc;
    border-style: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* table */
table, th, td
{
    border: 1px solid #bcbcbc;
    border-collapse: collapse;
}

.table-shift__table
{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.check_shift_table
{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

thead, th
{
    padding: 10px;
    font-size: 20px;
}

tbody, td
{
    width: 100px;
    padding: 10px;
    text-align: center;
}

#shift_setting
{
    height: 300px;
}

#_guide
{
    margin: 20px;
}

.input_setting
{
    margin: 20px;
}

#page_count
{
    margin: 20px;
}

#next_info
{
    margin: auto;
    border-style: none;
    padding: 10px 20px;
    background-color: #2d3436;
    font: 15px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#workName
{
    margin: 20px auto;
    display: block;
}

#work_per_day
{
    margin: 20px;
    display: block;
}

#work_per_day input{
    width: 80px;
}

#input_PerDayWeekend
{
    margin: auto;
}

#time_interval
{
    margin: 10px auto;
}

#input_score
{
    margin: 10px;
}

td #check_score_empty
{
    border-collapse: collapse;
}

.check_shift__table
{
    margin: auto;
    text-align: center;
    width: 70%;
    height: 800px;
}

.check_shift__table tbody td
{
    height: 30px;
}

#submit_form
{
    margin: 15px;
}

#btn_submit
{
    margin: auto;
    border-style: none;
    padding: 10px 40px;
    background-color: #2d3436;
    font: 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

#upload_file
{
    padding: 100px;
}
