body
{
    padding: 20px;
}

div
{
    text-align: center;
}

div.top
{
    margin: 30px;
}

div.top h1
{
    font-weight: lighter;
}

div.main
{
    margin: 30px;
}

div.bottom
{
    margin: 30px;
    font-size: 12px;
    font-weight: lighter;
}

/* button */
button#setShift
{
    background-color: #cccccc;
    border-style: none;
    padding: 15px;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
}

/* table */
table, th, td
{
    border: 1px solid #bcbcbc;
}

.table-shift__table
{
    width: 100%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}